<!DOCTYPE html>
<html>
  <head>
    <title>Music</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Real Music</a>
      <div class="navbar-nav">
        <%= link_to "Artistas", artists_path, class: "nav-item nav-link active" %>
        <a class="nav-item nav-link" href="#">Mi musica</a>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
